{% extends 'base.html.twig' %}

{% block title %}New Structure{% endblock %}

{% block body %}
<style>
    body{
        background-color: #15172b;
        height: auto;
    }
</style>

    <div class="form2">
        <br><br><br>
        {{ include('structure/_form.html.twig') }}
    </div> 
     
{% endblock %}
