{% extends 'base.html.twig' %}

  {% block head %}
    <title>{% block title %}URHAJ Normandie | Nouvelle structure{% endblock %}</title>
    {% block icon %}<link rel='icon' href='/img/icone.ico'>{% endblock %}
  {% endblock %}

{% block body %}
<style>
    body{
        background-color: #15172b;
        height: auto;
    }
</style>
    <br><br><br><br>
    <div align='center'>
        <div class="title">Créer une nouvelle structure</div>
        <div class="subtitle">Remplissez les informations nécéssaires</div>
    </div>
    <div class="form2">
        
        {{ include('structure/_form.html.twig') }}
    </div> 
     
{% endblock %}
