{% extends 'base.html.twig' %}

  {% block head %}
    <title>{% block title %}URHAJ Normandie | Modification d'une page{% endblock %}</title>
    {% block icon %}<link rel='icon' href='/img/icone.ico'>{% endblock %}
  {% endblock %}

{% block body %}
    <style>
        body{
            background-color: #14182A;
        }
    </style>
        <br><br><br><br>
    <div align='center'>
        <div class="title">Modifiez une page</div>
        <div class="subtitle">Remplissez les informations nécéssaires</div>
    </div>

    {{ include('page/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
