{% extends 'base.html.twig' %}

  {% block head %}
    <title>{% block title %}URHAJ Normandie | Vue d'une page{% endblock %}</title>
    {% block icon %}<link rel='icon' href='/img/icone.ico'>{% endblock %}
  {% endblock %}

{% block body %}
    <h1>{{ page.title }}</h1>

    {{ page.text|raw }}
    
{% endblock %}
