{% extends 'base.html.twig' %}

  {% block head %}
    <title>{% block title %}URHAJ Normandie | Modification de département{% endblock %}</title>
    {% block icon %}<link rel='icon' href='/img/icone.ico'>{% endblock %}
  {% endblock %}

{% block body %}
    <style>
        body{
            background-color: #14182A;
        }
    </style>
        <br><br><br><br>
    <div align='center'>
        <div class="title">Modifiez le département</div>
        <div class="subtitle">Remplissez les informations nécéssaires</div>
    </div>

    {{ include('departement/_form.html.twig', {'button_label': 'Update'}) }}

    {# <a href="{{ path('app_departement_index') }}">back to list</a>

    {{ include('departement/_delete_form.html.twig') }} #}
{% endblock %}

